*.o
*.ob
*.tbl
.DS_Store
dbgen
qgen
dbgen/
sf1_data/
sf10_data/
ref_data/
dev-tools/
*.pyc
__pycache__/
venv/
*.pkl
*.csv
execution_results_detailed.txt
generated_workload.txt
project_execution_log.txt
